/* stile genrale */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* inizio header */

header{
    /* degub */
    background-color: aquamarine;
    padding: 10px 0;
}

.sotto-contenitore{
    display: flex;
    margin: auto;
    width: 80%;
    align-items: center;
    /* debug */
    height: 40px;
}

.sotto-contenitore>div{
   border: 1px black dotted;
   background-color: orange;
   padding: 10px 0;
}

.sotto-contenitore>.centro{
    width: 50%;
    display: flex;
    justify-content: center;
}

.centro>div{
    margin: 0 10px;
}

.sotto-contenitore>.destra{
    text-align: end;
}

.sotto-contenitore>.destra, .sotto-contenitore>.sinistra{
    width: 25%;
}