/* stile genrale */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* inizio header */

header{
    padding-top: 10px;
    /* degub */
    background-color: aquamarine;
}
/* parte prima */
.sotto-contenitore{
    display: flex;
    margin: auto;
    width: 70%;
    align-items: center;
    margin-bottom: 10px;
    /* debug */
    height: 40px;
}
/* stili div interno al sotto-contenitore */
.sotto-contenitore>div{
   padding: 10px 0;
    /* debug */
   border: 2px black dotted;
   background-color: orange;
}

.sotto-contenitore>.centro{
    width: 50%;
    display: flex;
    justify-content: center;
}

.centro>div{
    margin: 0 10px;
}

.sotto-contenitore>.destra, .sotto-contenitore>.sinistra{
    width: 25%;
}

.sotto-contenitore>.destra{
    text-align: end;
}

/* inizio sotto-contenitore2 */

#sotto-contenitore2{
    padding: 20px 0;
    /* debug */
    background-color: blue;
}

#sotto-contenitore2>div{
    width: 60%;
    margin: auto;
    /* debug */
    height: 300px;
    background-color: purple;
    border: 2px dotted black;
}

/* inizio main */

main section{
    padding: 20px 0;
    /* debug */
    background-color: beige;
}

main section:nth-child(even) {
    background-color: lightgrey;
}
/* caratteristiche contenitori che contengono il contnuto */
.items{
    width: 70%;
    margin: auto;
    display: flex;
    /* debug */
    height: 200px;
    background-color: aquamarine;
}
/* parte larga contenuto */
.items .largo{
    width: 60%;
    /* debug */
    background-color: blue;
    border: 2px dotted black;
}
/* parte stretta contenuto */
.items .stretto{
    width:40% ;
   /* debug */
   background-color: pink;
   border: 2px dotted black;
}

.diverso>div{
    width: 70%;
    margin: auto;
    /* debug */
    height: 400px;
    background-color:green;
    border: 2px dotted black;
}